.adcrypto {
  background: url("../../images/bg/main-bg@2x.jpg") no-repeat center top;
  background-size: cover;
  padding: 45px 0 120px 0;

  @include phones-mid {
    height: 100vh;
    padding: 0;
  }

  @include phones-min {
    height: 100vh;
    padding: 0;
  }
}

.adcrypto__container {

}

.adcrypto__content {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include phones-mid {
    margin-top: 35px;
  }

  @include phones-min {
    margin-top: 12px;
  }
}

.adcrypto__tugush-img {
  width: 102px;

  @include phones-min {
    width: 82px;
  }
}

.adcrypto__logo-img {
  width: 506px;
  margin-right: 75px;
  margin-top: -5px;

  @include phones-mid {
    width: 386px;
    margin-right: 65px;
  }

  @include phones-min {
    width: 356px;
    margin-right: 65px;
  }
}

.adcrypto__title {
  color: white;
  width: 894px;
  margin-top: 60px;

  @include tablets {
    width: 100%;
  }

  @include phones {

    font-size: 38px;
  }

  @include phones-mid {
    font-size: 36px;
  }

  @include phones-min {
    font-size: 34px;
    margin-top: 30px;
  }
}

.adcrypto__btn {
  margin-top: 62px;
  background: none;
  border: 1px solid white;

  &:hover {
    background: rgba(white, .08);
  }

  @include phones-mid {
    width: 95%;
    font-size: 16px;
  }

  @include phones-min {
    width: 95%;
    font-size: 16px;
    margin-top: 40px;
  }
}
