.features {
  background: url("../../images/bg/products-bg@2x.jpg") no-repeat center center / cover;
  padding: 90px 0;
}

.features__title {
  color: white;
}

.features__list {
  display: flex;
  margin-top: 51px;
  flex-wrap: wrap;
  justify-content: center;

  @include tablets {
    margin-top: 0;
  }
}

.features__item {
  width: 316px;
  margin-right: 105px;

  &:last-child {
    margin-right: 0;
  }

  @include desctop {
    margin-right: 30px;
    margin-top: 20px;
  }

  @include tablets {
    margin-top: 50px;
    margin-right: 0px;
  }

  @include phones {
    margin-top: 70px;
  }
}

.features__svg-wrap {
  height: 124px;
}

.features__svg {
  margin: 0 auto;

  &1 {
    width: 100px;

    @include phones-min {
      width: 90px;
    }
  }

  &2 {
    width: 94px;

    @include phones-min {
      width: 84px;
    }
  }

  &3 {
    width: 98px;

    @include phones-min {
      width: 88px;
    }
  }

  &4 {
    width: 112px;

    @include phones-min {
      width: 102px;
    }
  }

  &5 {
    width: 89px;

    @include phones-min {
      width: 79px;
    }
  }
}

.features__text {
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: 300;

  @include phones-min {
    font-size: 17px;
  }
}
