.footer-top {
  background: url("../../images/bg/black.png");
  background-size: 100px;
  padding: 45px 0 40px;

  @include phones-min {
    padding: 30px 0 40px;
  }
}

.footer-top__content {
  display: flex;

  @include phones-mid {
    flex-direction: column;
  }
}

.footer-top__logo {

  @include phones {
    display: none;
  }
}

.footer-top__logo-img {
  width: 157px;
}

.footer-top__contacts {
  width: 314px;
  margin-left: 95px;
  margin-right: 85px;
  border-left: 1px solid rgba(white, .2);
  border-right: 1px solid rgba(white, .2);
  color: #8d8d8d;
  display: flex;
  justify-content: center;

  @include tablets {
    margin-left: 15px;
    margin-right: 15px;
  }

  @include phones {
    border-left: none;
    margin-left: 0;
  }

  @include phones-mid {
    width: 100%;
    border-right: none;
    text-align: center;
  }
}

.footer-top__contacts-wrap {

}

.footer-top__contacts-title {
  font-size: 16px;
  color: white;
}

.footer-top__tel {
  font-size: 18px;
  margin-top: 14px;
}

.footer-top__tel span {
  color: white;

  @include phones-min {
    width: 165px;
  }
}

.footer-top__email {
  margin-top: 6px;
  color: #8d8d8d;
  transition: color 0.3s;


  &:hover {
    color: #d4d4d4;
  }
}

.footer-top__socials {
  margin-top: 23px;
  display: flex;

  @include phones-mid {
    padding-left: 45px;
  }
}

.footer-top__icon {
  color: #8d8d8d;
  margin-right: 21px;
  transition: color 0.3s;
  font-size: 24px;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: #d4d4d4;
  }
}

.footer_top__office {

  @include phones {
    width: 58%;
  }

  @include phones-mid {
    width: 100%;
    text-align: center;
    margin-top: 25px;
  }
}

.footer-top__office-title {
  font-size: 16px;
  color: white;
}

.footer-top__office-address {
  font-size: 14px;
  color: #8d8d8d;
  margin-top: 14px;
  width: 241px;

  @include phones {
    width: 200px;
  }

  @include phones-mid {
    width: 100%;
  }
}
