.rare {
  padding: 81px 0 105px;
  background: url("../../images/logos/shield-big-grey.svg") no-repeat center -910px;
  background-size: 1040px;
}

.rare__content {

}

.rare__title {

}

.rare__list {
  display: flex;
  justify-content: space-between;
  margin-top: 85px;
}

.rare__item {

  &:nth-child(2) {

    .rare__desc{
      width: 220px;
    }
  }

  &:nth-child(3) {

    .rare__desc{
      width: 210px;
    }
  }

  &:nth-child(4) {

    .rare__desc{
      width: 215px;
    }
  }
}

.rare__svg-wrap {
  height: 121px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rare__pic {

}

.rare__pic1 {
  width: 118px;
}

.rare__pic2 {
  width: 93px;
}

.rare__pic3 {
  width: 107px;
}

.rare__pic4 {
  width: 103px;
}

.rare__desc {
  text-align: center;
  color: #6d6d6d;
  font-size: 22px;
  font-weight: bold;
  width: 240px;
}
