.rare {
  padding: 81px 0 105px;
  background: url("../../images/logos/shield-big-grey.svg") no-repeat center -910px;
  background-size: 1040px;

  @include phones-min {
    padding: 61px 0 55px;
  }
}

.rare__content {

}

.rare__title {

}

.rare__list {
  display: flex;
  justify-content: space-between;
  margin-top: 85px;
  flex-wrap: wrap;

  @include desctop {
    flex-wrap: wrap;
    justify-content: center;
  }

  @include tablets {
    margin: 20px 19px;
  }


}

.rare__item {

  &:nth-child(2) {

    .rare__desc{
      width: 220px;
    }
  }

  &:nth-child(3) {

    .rare__desc{
      width: 210px;
    }
  }

  &:nth-child(4) {

    .rare__desc{
      width: 215px;
    }
  }

  @include desctop {
    margin: 0 9px;
  }

  @include tablets {
    margin: 20px 19px;
  }
}

.rare__svg-wrap {
  height: 121px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rare__pic {

}

.rare__pic1 {
  width: 118px;

  @include phones-min {
    width: 98px;
  }
}

.rare__pic2 {
  width: 93px;

  @include phones-min {
    width: 73px;
  }
}

.rare__pic3 {
  width: 107px;

  @include phones-min {
    width: 87px;
  }
}

.rare__pic4 {
  width: 103px;

  @include phones-min {
    width: 83px;
  }
}

.rare__desc {
  text-align: center;
  color: #6d6d6d;
  font-size: 22px;
  font-weight: bold;
  width: 240px;

  @include phones-min {
    font-size: 19px;
  }
}
