.referral {
  background: url("../../images/bg/01.jpg") no-repeat center top / cover;
  padding: 177px 0 201px;
}

.referral__content {

}

.referral__title {
  color: white;
  letter-spacing: 0.6px;

  @include phones {

    font-size: 38px;
  }
}

.referral__text {
  font-size: 40px;
  text-align: center;
  color: white;
  margin: 40px auto 0;
  width: 940px;
  letter-spacing: 0.6px;

  @include desctop {
    width: 100%;
  }

  @include phones {

    font-size: 35px;
  }

  @include phones {
    font-size: 32px;
    margin-top: 60px;
  }
}
