doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    // Google-map
    script(src="./scripts/google-map.js")
    // Font awesome
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous")
  body
    include includes/header.pug
    include includes/adcrypto.pug
    include includes/rare.pug
    include includes/unit.pug
    include includes/features.pug
    include includes/withdrawal.pug
    include includes/referral.pug
    include includes/about.pug
    include includes/map.pug
    include includes/footer
    include includes/registration

    script(src="https://use.fontawesome.com/448e6a6850.js")

    script(src="./scripts/index.js")
    script(src="./scripts/google-map.js")

    div(id="googleSrc")
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAm2yqV04hc0wgj2YbMtJagZemmtEvADzY&callback=initMap")

