section(class="about" id="about")
  div(class="container")
    div(class="about__content")
      h1(class="about__title") О компании Tugush
      p(class="about__text") Первая глобальная финансовая платформа с применением Blockchain-технологий
      div(class="about__more")
        p(class="about__more-text") подробнее на&nbsp
        a(class="about__more-link" href="https://www.tugush.com/") tugush.com
      button(class="btn about__btn" id="registrationBtnBig2") начать зарабатывать в крипте!
