section(class="adcrypto")
  div(class="container adcrypto__container")
    div(class="adcrypto__content")
      img(class="adcrypto__tugush-img" src="./images/logos/logo-tugush-finance-white.svg" alt="tugush-logo")
      img(class="adcrypto__logo-img" src="./images/logos/logo@2x.png" alt="adcrypto-logo")
      h1(class="adcrypto__title") Стань миллионером в самой хайповой теме 2018 года
      button(class="btn adcrypto__btn" id="registrationBtnBig") Зарегистрироваться
