section(class="features" id="features")
  div(class="container")
    div(class="features__content")
      h2(class="features__title") Особенности офферов
      ul(class="features__list")
        li(class="features__item")
          div(class="features__svg-wrap")
            img(class="features__svg features__svg1" src="./images/svg/icon-5.svg" alt="bitcoin")
          p(class="features__text") Криптовалюта - самая хайповая тема 2018 года с пока еще низкой конкуренцией
        li(class="features__item")
          div(class="features__svg-wrap")
            img(class="features__svg features__svg2" src="./images/svg/icon-15.svg" alt="list")
          p(class="features__text") Мы предоставляем офферы для максимально широкой целевой аудитории - от обучения до операций с криптой
        li(class="features__item")
          div(class="features__svg-wrap")
            img(class="features__svg features__svg3" src="./images/svg/icon-20.svg" alt="statistic")
          p(class="features__text") Приведя пользователя на вебинар, вы получаете проценты со всех его будущих транзакций
      ul(class="features__list")
        li(class="features__item")
          div(class="features__svg-wrap")
            img(class="features__svg features__svg4" src="./images/svg/icon-21.svg" alt="notebook")
          p(class="features__text") Вы не ограничены в гео и видах трафика - мы работаем со всем миром и готовы платить за лиды из любого канала - хоть из офлайна
        li(class="features__item")
          div(class="features__svg-wrap")
            img(class="features__svg features__svg5" src="./images/svg/icon-loan-3.svg" alt="checked-list")
          p(class="features__text") Мы готовим все виды промоматериалов к каждому офферу и по заказу партнера
