footer(class="footer")
  section(class="footer-top")
    div(class="container")
      div(class="footer-top__content")
        div(class="footer-top__logo")
          img(class="footer-top__logo-img" src="./images/logos/adcrypto_logo.png" alt="logo")
        div(class="footer-top__contacts")
          div(class="footer-top__contacts-wrap")
            h6(class="footer-top__contacts-title") Контакты
            p(class="footer-top__tel") +7 (495) <span>984 32 36</span>
            a(class="footer-top__email" href="mailto:affiliate@tugush.com") affiliate@tugush.com
            div(class="footer-top__socials")
              a(class="footer-top__icon" href="https://www.facebook.com/tugushcom/" target="blank")
                i(class="fa fa-facebook" aria-hidden="true")
              a(class="footer-top__icon" href="https://t.me/tugushllc" target="blank")
                i(class="fab fa-telegram-plane")
              //a(class="footer-top__icon" href="#")
              //  i(class="fa fa-linkedin" aria-hidden="true")
        div(class="footer_top__office")
          h6(class="footer-top__office-title") Офис
          p(class="footer-top__office-address") Москва, Семёновская площадь, 1А, Бизнес-центр "Соколиная Гора"
  section(class="footer-bottom")
    div(class="container")
      div(class="footer-bottom__content")
        div(class="footer-bottom__rights")
          p(class="footer-bottom__rights-text") © Tugush, 2018. Все права защищены.
          //a(class="footer-bottom__rights-link" href="#") Privacy Policy
        p(class="footer-bottom__text") Этот сайт использует cookie. Полученная информация помогает персонализировать Вашу рекламу, предоставлять услуги и собирать маркетинговую информацию. Продолжая использовать сайт, Вы даете согласие на использование cookie.







