section(class="rare" id="rare")
  div(class="container")
    div(class="rare__content")
      h2(class="rare__title") Редчайшие преимущества
      ul(class="rare__list")
        li(class="rare__item")
          div(class="rare__svg-wrap")
            img(class="rare__pic rare__pic1" src="./images/svg/40.svg" alt="percent")
          p(class="rare__desc") 40% за первый заказ! 20% за ребилы!
        li(class="rare__item")
          div(class="rare__svg-wrap")
            img(class="rare__pic rare__pic2" src="./images/svg/icon-9.svg" alt="percent")
          p(class="rare__desc") Апрув и вывод<br>на следующий день
        li(class="rare__item")
          div(class="rare__svg-wrap")
            img(class="rare__pic rare__pic3" src="./images/svg/icon-loan-2.svg" alt="percent")
          p(class="rare__desc") Любое гео<br>Все виды трафика
        li(class="rare__item")
          div(class="rare__svg-wrap")
            img(class="rare__pic rare__pic4" src="./images/svg/icon-2.svg" alt="percent")
          p(class="rare__desc") Займы на развитие результативным партнерам

