section(class="referral" id="referral")
  div(class="container referral__container")
    div(class="referral__content")
      h1(class="referral__title") Реферальная программа
      p(class="referral__text") Приводите знакомых веб-мастеров и получайте пожизненный процент с их заработка
