div(class="registration-success")
  div(class="registration__container")
    div(class="registration__header")
      p(class="registration__title") Зарегистрироваться
      img(class="registration__exit-img" id="exitBtn2" src="./images/svg/close@3x.png")
    div(class="registration__content")
      p(class="registration__success") Рады, что вы с нами! В ближайшее время мы свяжемся с вами по указанным данным.
