section(class="unit")
  div(class="container")
    div(class="unit__content")
      h2(class="unit__title") ADCRYPTO - подразделение компании Tugush
      ul(class="unit__list")
        li(class="unit__item")
          img(class="unit__svg" src="./images/png/check-in-circle@3x.png" alt="checked")
          p(class="unit__text") Вы работаете напрямую с рекламодателем и <span>получаете самую высокую комиссию,</span> без агентских отчислений
        li(class="unit__item")
          img(class="unit__svg" src="./images/png/check-in-circle@3x.png" alt="checked")
          p(class="unit__text") Мы можем подтверждать транзакции и <span>перечислять вознаграждение уже на следующий день</span>
        li(class="unit__item")
          img(class="unit__svg" src="./images/png/check-in-circle@3x.png" alt="checked")
          p(class="unit__text") Мы общаемся без посредников и <span>лично решаем все возникающие проблемы</span>
        li(class="unit__item")
          img(class="unit__svg" src="./images/png/check-in-circle@3x.png" alt="checked")
          p(class="unit__text") Мы не ограничены в индивидуальных условиях сотрудничества и <span>готовы предоставлять оборотные средства</span> для развития партнера
        li(class="unit__item")
          img(class="unit__svg" src="./images/png/check-in-circle@3x.png" alt="checked")
          p(class="unit__text") Tugush обладает комплексом продуктов в сфере криптовалют - вы получаете <span>доход от использования каждого из них</span>
