section(class="withdrawal" id="withdrawal")
  div(class="container")
    div(class="withdrawal__content")
      h2(class="withdrawal__title") Вывод заработка
      ul(class="withdrawal__list")
        li(class="withdrawal__item")
          div(class="withdrawal__wrap-svg")
            img(class="withdrawal__svg withdrawal__svg1" src="./images/webmoney-paying-logo.png" alt="webmoney")
        li(class="withdrawal__item")
          div(class="withdrawal__wrap-svg")
            img(class="withdrawal__svg withdrawal__svg2" src="./images/svg/yandex-money.svg" alt="yandex-money")
        li(class="withdrawal__item")
          div(class="withdrawal__wrap-svg")
            img(class="withdrawal__svg withdrawal__svg3" src="./images/credit-cards.png" alt="credit-cards")
        li(class="withdrawal__item")
          div(class="withdrawal__wrap-svg")
            img(class="withdrawal__svg withdrawal__svg4" src="./images/svg/pay-pal.svg" alt="pay-pal")
        li(class="withdrawal__item")
          div(class="withdrawal__wrap-svg")
            img(class="withdrawal__svg withdrawal__svg5" src="./images/svg/cryptocurrency-wallet.svg" alt="cryptocurrency-wallet")
